<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- General Config-->
    <add key="mainFolder" value="C:\DevolucionesLOG" />
    <add key="folderPDF" value="C:\\DevolucionesLOG\\pdf\\{0}.pdf" />
    <add key="imagenPDF" value="C:\\DevolucionesLOG\\images\\mac.jpg"/>
    <add key="rutaDelArchivo" value=""/>
    <!-- Epicor config -->
    <add key="epiEnvironment" value="C:\\Epicor\\ERP10.0Client\\Client\\config\\{0}.sysconfig" />
    <add key="epiConfig" value="C:\Epicor\ERP10.0Client\Client\config\Epicor10.sysconfig" />
    <add key="epiCompany" value="DLMAC" />
    <!-- Cadenas de conexión a ambos servers -->
    <add key="connRMADB" value="Data Source=TISERVER;Initial Catalog=Devoluciones;Persist Security Info=True;User ID=sa;Password=Epicor123"/>
    <add key="connMultistop" value="Data Source=APPMULTISERVER;Initial Catalog=MS_gictraficoyreparto;Persist Security Info=True;User ID=sa;Password=Epicor123" />
    <add key="connEpicor" value="Data Source=DBE10SERVER;Initial Catalog=ERP10DB;Persist Security Info=True;User ID=sa;Password=Epicor123" />
    <!--<add key="SQLiteConn" value="Data Source=dbDevoluciones.db;Version=3;New=True;Compress=True;"/>-->
    <!-- Queries Epicor -->
    <add key="obtRelacion" value="SELECT id,descripcion FROM dbo.LI_motivosdevolucion1;" />
    <add key="obtChoferes" value="SELECT c.Id,c.Name FROM TISERVER.DevolucionesTEST.dbo.Choferes c" />
    <add key="obtInvoices" value="SELECT d.Facturas,d.NumLegal,d.NumeroCliente + ' - ' + x.Name AS Cliente,COUNT(d.FolioRelacion) AS Líneas,d.FolioRelacion,d.DistrDev FROM dbo.MS_DevChfrs_tst d CROSS APPLY (SELECT c.Name,c.Company FROM Erp.Customer c where c.Company = 'DLMAC' AND c.CustNum = d.NumeroCliente) x WHERE d.Evento_Key = '{0}' GROUP BY d.Facturas,d.NumLegal,d.NumeroCliente,x.Name,d.FolioRelacion,d.DistrDev;" />
    <add key="obtInvoiceDetail" value="SELECT r.Facturas,''  AS Linea,r.IdProducto,''  AS Descripcion,''  AS Empaque,''  AS LineaE,r.motivodevolucion,''  AS Orden,''  AS LineaO,''  AS Relacion,r.DistrDev,r.unidad,r.DistrClsf,r.Observaciones,r.ZoneID,r.PrimBin FROM ERP10DB.dbo.MS_DevChfrs_tst r WHERE Facturas LIKE '%{0}%' ORDER BY r.IdProducto,r.Facturas;" />
    <add key="obtFactDtl" value="SELECT d.PartNum,d.LineDesc,d.PackNum,d.PackLine,d.OrderNum,d.OrderLine,d.OrderRelNum FROM Erp.Invcdtl d WHERE d.InvoiceNum = {0} AND d.InvoiceLine = {1} ORDER BY PartNum;"/>
    <add key="obtAvanceFacturas" value="SELECT FolioRelacion_c,InvoiceNum FROM RMAHead WHERE FolioPalet_c = '{0}' ORDER BY FolioRelacion_c;"/>
    <add key="obtEsperaFacturas" value="SELECT FolioRelacion,Facturas FROM dbo.MS_DevChfrs_tst GROUP BY FolioRelacion,Facturas ORDER BY FolioRelacion;"/>
    <add key="consultarRMA" value="SELECT RMANum FROM ERP10DB.Erp.RMAHead WHERE CustNum = {0} AND InvoiceNum = {1} AND OpenRMA = 1;"/>
    <add key="obtEmpaques" value="SELECT empaque,empaquelinea FROM ERP10DB.dbo.MS_DevChfrs WHERE Factura = {0}" />
    <add key="obtClasificacion" value="SELECT Almacen FROM dbo.MS_DevClasf WHERE IdClas = {0};"/>
    <add key="Warehouse" value="CZ"/>
    <!-- Queries pantalla Avances -->
    <!--<add key="obtFactProc" value="SELECT InvoiceNum FROM RMAHead WHERE FolioPalet_c LIKE '%{0}%' ORDER BY InvoiceNum;"/>-->
    <add key="obtRMAHeader" value="SELECT h.CustNum,y.Name,h.InvoiceNum,h.RMANum,x.InvoiceNum AS NC,x.OrderNum,h.RMADate,h.openRMA,x.Posted,h.LegalNumber,h.ChangedBy FROM RMAHead h CROSS APPLY(SELECT a.InvoiceNum, InvoiceAmt, OrderNum, Posted FROM Erp.InvcHead a WHERE a.Company = 'DLMAC' AND a.CreditMemo = 1 AND a.InvoiceRef = h.InvoiceNum) x CROSS APPLY(SELECT c.Name FROM Erp.Customer c WHERE c.Company = 'DLMAC' AND c.CustNum = h.CustNum) y WHERE h.InvoiceNum = {0} AND FolioPalet_c NOT IN('') GROUP BY h.CustNum, y.Name, h.InvoiceNum, h.RMANum, x.InvoiceNum, x.OrderNum, h.RMADate,h.openRMA,x.Posted,h.LegalNumber,h.ChangedBy;"/>
    <add key ="obtRMADtl" value="SELECT RMALine,PartNum,LineDesc,ReturnQty,ReturnQtyUOM,ReturnReasonCode,note,InvoiceNum,InvoiceLine,OrderNum,OrderLine,FolioTarima_c AS Tarima,PrimBin_c AS Ubicacion FROM RMADtl WHERE Company = 'DLMAC' AND InvoiceNum = {0} AND FolioTarima_c NOT IN ('') ORDER BY RMALine;"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  
    <!-- Queries Turnos Anteriores -->
    <add key="consultarTurnoAnterior" value="SELECT d.RMANum AS RMA,x.InvoiceNum AS NotaCred,d.FolioTarima_c AS Tarima,d.PartNum AS Parte,d.LineDesc AS Descripcion,d.ReturnQty AS Cant,d.ReturnQtyUOM AS UOM,d.InvoiceNum AS Factura,d.PrimBin_c AS Ubicacion FROM RMADtl d CROSS APPLY (SELECT i.InvoiceNum, i.XRefInvoiceNum FROM Erp.InvcHead i WHERE i.Company = 'DLMAC' AND i.CreditMemo = 1 AND i.OpenInvoice = 1 AND i.RMANum = d.RMANum AND i.InvoiceRef = d.InvoiceNum) x WHERE FolioTarima_c LIKE '%{0}%' ORDER BY d.RMANum;"/>
    <add key="turnosUsuario" value="SELECT s.FolioActivo FROM tb_Sesiones s WHERE s.Usuario = '{0}' AND s.FolioActivo NOT IN ('S/P') ORDER BY s.Id DESC;"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>